# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
run
libs
classes
gradle/wrapper/gradle-wrapper.properties
logs/debug.log
logs/latest.log
